body {
  background-image: url("annie-spratt-QckxruozjRg-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Oswald", sans-serif;
}

h1,
p {
  text-align: center;
  color: white;
}

form {
  width: 50%;
  height: 80%;
  margin: auto;
  font-weight: 300;
}

fieldset {
  background-color: #e9e7e8;
  font-size: 20px;
  border-radius: 3%;
  opacity: 90%;
}

label,
textarea {
  display: block;
  padding: 10px;
}

input[type="radio"] {
  display: block;
}
